body {
  font-family: var(--font-family);
  background-color: var(--dark);
  color: #fff;

  font-weight: 500;

  font-size: 18px;
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
  bottom: 0;
}

.unBtn {
  border-radius: 6px;
  padding: 15px 40px;
  background: #ef476f;
  font-weight: 700;
  font-size: 18px;
  color: #fff;

  text-align: center;
}
