:root {
  --font-family: 'Stem', sans-serif;
  --second-family: 'Gilroy', sans-serif;

  --dark: #273947;
  --subTxt: rgba(255, 255, 255, 0.8);
  --turquoise: #07a9de;

  // шрифты
  --font-family: 'Montserrat', sans-serif;
  --second-family: 'Open Sans', sans-serif;
  --third-family: 'Inter', sans-serif;

  // ширина и отступы контейнеров
  --container-width: 1110px;
  --container-padding-x: 20px;

  // отступы между блоками
  --section-padding-y: 25px;

  --btn-padding: 12px 20px;

  // высота полей ввода
}
